.flex {
    display: flex;
}
.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: end;
}
.bold {
    font-weight: bold;
}
.pa-md {
    padding: 16px;
}
.pa-sm {
    padding: 12px;
}
.pa-lg {
    padding: 16px;
}
.pl-md {
    padding-left: 16px;
}
.pl-sm {
    padding-left: 12px;
}
.pl-lg {
    padding-left: 16px;
}
.pr-md {
    padding-right: 16px;
}
.pr-sm {
    padding-right: 12px;
}
.pr-lg {
    padding-right: 16px;
}

.ma-md {
    margin: 16px;
}
.ma-sm {
    margin: 12px;
}
.ma-lg {
    margin: 16px;
}
.ml-md {
    margin-left: 16px;
}
.ml-sm {
    margin-left: 12px;
}
.ml-lg {
    margin-left: 16px;
}
.mt-md {
    margin-top: 16px;
}
.mt-sm {
    margin-top: 12px;
}
.mt-lg {
    margin-top: 16px;
}